# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
obj
*.manifest
*.pdb
*.exe
/src/GenexUI/bin/logs/*.log
/material/Thumbs.db
*.suo

*.ncb

*.ilk

*.htm

*.obj

*.pch

*.ib_tag

*.dep

*.ib_pdb_index

*.idb
*.user

*.suo

*.suo

*.exp
